PHIVERSION=1.0

CC_LIN=g++
CC_SOL=gcc
CC_MAC=g++-4.2
CC_ICC=icc

#uncomment to enable change from double to single precision
#PRECISION=-DSINGLEPRECISION

#uncomment to enable thread affinity
#THREADAFFINITY=-DTHREADAFFINITY

CBLASINC_NOBLAS=-DNOBLAS 
CBLASINC_LIN=-I/home/johanstr/apps/ATLAS3.8.3/include/ 
CBLASINC_MAC=-I/Developer/SDKs/MacOSX10.6.sdk/System/Library/Frameworks/vecLib.framework/Headers

CBLASLIB_NOBLAS=-DNOBLAS
CBLASLIB_LIN=-L/home/johanstr/apps/ATLAS3.8.3/bamako_build/lib/ -latlas
CBLASLIB_MAC=-latlas
CBLASLIB_SOL= /home/johanstr/apps/ATLAS3.8.3/CancunGCC_build/lib/libcblas.a /home/johanstr/apps/ATLAS3.8.3/CancunGCC_build/lib/libatlas.a

CBLAS_STATIC=/home/johanstr/apps/ATLAS3.8.3/bamako_build/lib/libcblas.a /home/johanstr/apps/ATLAS3.8.3/bamako_build/lib/libatlas.a 

CFLAGS_NOBLAS=-Wall $(CBLASINC_NOBLAS)
CFLAGS_LIN=-Wall $(CBLASINC_LIN)
CFLAGS_MAC= -Wall $(CBLASINC_MAC) -DMAC
CFLAGS_SOL= -I/home/johanstr/local_sol/include  $(CBLASINC) -DSOLARIS
CFLAGS_ICC= -Wall $(CBLASINC_LIN)


LDFLAGS_NOBLAS= $(CBLASLIB_NOBLAS) -lstdc++ -pthread -lpthread
LDFLAGS_LIN= $(CBLASLIB_LIN) -lstdc++ -pthread -lpthread
LDFLAGS_SOL= -L/usr/sfw/lib/64 -m64 -pthreads -lm -lc -lstdc++ -z muldefs $(CBLASLIB_SOL)
LDFLAGS_MAC= -lstdc++ -lpthread $(CBLASLIB_MAC) 
LDFLAGS_LIN_STATIC=-lstdc++ -pthread -lpthread 

OPTIMISE_LIN= -O3 -pipe -fexpensive-optimizations -ffast-math -funroll-all-loops -fprefetch-loop-arrays 
OPTIMISE_MAC=-march=core2 -O3 -pipe -fexpensive-optimizations -ffast-math -funroll-all-loops -fprefetch-loop-arrays
OPTIMISE_SOL= -m64 -O3 -pipe -fexpensive-optimizations -ffast-math -mfpmath=sse -funroll-all-loops -fprefetch-loop-arrays 
OPTIMISE_ICC= -O3 -pipe -fexpensive-optimizations -ffast-math -funroll-all-loops -fprefetch-loop-arrays

CC=$(CC_LIN)
CFLAGS=$(CFLAGS_LIN)
LDFLAGS=$(LDFLAGS_LIN)
#CFLAGS=$(CFLAGS_NOBLAS)
#LDFLAGS=$(LDFLAGS_NOBLAS)
OPTIMISE=$(OPTIMISE_LIN) $(PRECISION) $(THREADAFFINITY)

#OPTIMISE=-g
LD=gcc
